{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad Script|Beau Rivage">
    <link rel="stylesheet" href="{{url_for('static',filename='css/auth.css')}}">
{% endblock %}

{% block content %}
<div class="container login">
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <div class="panel panel-default authentication">
                <h2>Pitch Point</h2>
                <p class="text-center">
                    <strong>
                        Sign up to create pitches and
                        <br>
                        react to other pitches.
                    </strong>
                </p>
                <hr>
                <div class="panel-body">
                    {{wtf.quick_form(registration_form)}}
                    <p> Already have an account? <a href="{{url_for('auth.login')}}">Login here</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock%}
