h3 {
    text-align: center;
    color: darkgoldenrod;
}
.pitches {
    background-color: azure;
}
body {
    background-color: snow;
}
.panel-body {
    background-color: white;

}
.panel-footer {
    background-color: black;
}
.panel-heading {
    background-color: black;
}
.pitch-point {
    font-family: Bad Script;
}

