.pitch-point {
    font-family: Bad Script;
}
.new-pitch {
    margin-top: 25%;
}
body {
    background-color: rgba(19, 18, 18, 0.699);
}
.comment {
    color: white;
}
.pitch {
    width: 100%;
    height: 100vh;
    color: white;
}
.single-pitch {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1537875/pexels-photo-1537875.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
h3 {
    font-family: Bilbo Swash Caps;
}