{% macro displayPitches(pitches) %}

{%for pitch in pitches%}

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><strong>{{pitch.title}}</strong></h3>
            {{pitch.text}}
            <br>
            <br>
            <span><a href="{{url_for('main.upvote',id = pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;" aria-hidden="true"></i></a> {{pitch.upvotes.count()}}</span>
            <span><a href="{{url_for('main.downvote',id = pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size:18px;" aria-hidden="true"></i></a> {{pitch.downvotes.count()}}</span>
            <hr>
            <strong><em>{{pitch.user.username}}</em></strong>
            <br>
            <em>{{pitch.posted.strftime("%d %b %Y")}}</em>
            <a href="/pitch/{{pitch.id}}"><button class="details">Pitch</button></a>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}

{% macro displayPitchesInCategories(pitches,id)%}

{% for pitch in pitches %}
{% if pitch.category_id==id%}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="title"><strong>{{pitch.title}}</strong></h3>
                {{pitch.text}}
                <br>
                <br>
                <span><a href="{{url_for('main.upvote',id = pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;" aria-hidden="true"></i></a> {{pitch.upvotes.count()}}</span>
                <span><a href="{{url_for('main.downvote',id = pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size:18px;" aria-hidden="true"></i></a> {{pitch.downvotes.count()}}</span>
                <hr>
                <strong><em>{{pitch.user.username}}</em></strong>
                <br>
                <em>{{pitch.posted.strftime("%d %b %Y")}}</em>
                <a href="/pitch/{{pitch.id}}"><button class="details">Pitch</button></a>
            </div>
        </div>
    </div>
{% endif%}
{% endfor %}

{% endmacro%}
        
