{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad Script|Calligraffitti|Euphoria Script">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/pickup_lines.css')}}">
{% endblock %}

{% block content %}
<h2>Pick Up Lines</h2>
<div class="pickup_lines">
    <div class="lines">
        <div>
            {{ macro.displayPitchesInCategories(pitches, 2)}}
        </div>
    </div>  
</div>

{% endblock %}