{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad Script|Calligraffitti">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/wise.css')}}">
{% endblock %}

{% block content %}
<h2>Wise Pitches</h2>
<div class="wise">
    <div class="wise-pitch">
        <div>
            {{ macro.displayPitchesInCategories(pitches, 1)}}
        </div>
    </div>
    
</div>

{% endblock %}